html[dir="rtl"] {
    text-align: right;
    direction: rtl;
   
}

html[dir="ltr"] {
    text-align: left;
    direction: ltr;
    
}





html[dir="rtl"] body,
html[dir="rtl"] .navbar {
    margin-right: 0;
    padding-right: 0;
    margin-left: auto;
    padding-left: 0;
   
}

    html[dir="rtl"] .navbar .d1 {
      
        margin-left:30em
            
    }

